body {
    background-color: #e6e6e6;
}
table {
    float: left;
    width:600px;
    margin-right: 80px;
    margin-left: 50px;
    margin-top: 0px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
}
th, td {
    font-size: 12px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}
th {
    background-color: #3498db;
    color: white;
}


